
#map {
    width: 100vw;
    height: 100vh;
}

.map-overlay {
    position: absolute;
    /*top: 0;*/
    z-index: 1;
}

.map-overlay-button {
    z-index: 5;
    margin-top: 5px;
    margin-left: 3px;
}

.map-overlay-drawer {
    z-index: 10;
}

.custom-tooltip {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: #fff;
    color: rgb(0, 0, 0);
    max-width: 350px;
    font-size: 15px;
    z-index: 9;
    pointer-events: none;
}